{% extends 'base.html' %}
{% block content %}
<div class="product-detail">
    <h1>{{ product.name }}</h1>
    {% load static %}
    <img src="{{ product.image.url }}" alt="{{ product.name }}">
    <p>{{ product.description }}</p>
    <p>Precio: ${{ product.price }}</p>
    
    <form method="POST" action="{% url 'add_to_cart' product.id %}">
        {% csrf_token %}
        <label for="quantity">Cantidad:</label>
        <input type="number" name="quantity" id="quantity" min="1" value="1">
        <button type="submit">Añadir al Carrito</button>
    </form>
    
    <h3>Productos Relacionados</h3>
    <div class="related-products">
        {% for related_product in related_products %}
        <div class="product-item">
            <a href="{% url 'product_detail' related_product.id %}">
                <h4>{{ related_product.name }}</h4>
                <img src="{{ related_product.image.url }}" alt="{{ related_product.name }}">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
